{{>header}}

<h3 style = "color: red"> {{errorMessage}}</h3>
    <form class="needs-validation" novalidate method="POST" action="/modify-credentials">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName"> Previous Username:</label>
                <input type="text" class="form-control" id="firstName" name ="userName" value="" required>
                <div class="invalid-feedback"> a username is required </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">New Username:</label>
                <input type="text" class="form-control" id="lastName" name = "newUserName" placeholder="" value="" required>
                <div class="invalid-feedback"> a username is requierd </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password"Previous Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="username" name ="password" placeholder="" required>
                <div class="invalid-feedback" style="width: 100%;"> please enter a valid password </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
            <label for="email">New password *</label>
            <input type="password" class="form-control" id="email" placeholder="" name = "newPassword">
            <div class="invalid-feedback"> Please enter a valid password </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Confirm Password*</label>
        <input type="password" class="form-control" id="email" placeholder="passwordRepeat" name ="passwordRepeat">
        <div class="invalid-feedback"> The password have to match </div>
    </div>
    <hr class="mb-1"> 
    <div class="submit-button text-center">
        <button class="btn hvr-hover" id="submit" type="submit">Change </button>
        <div id="msgSubmit" class="h3 text-center hidden"></div>
        <div class="clearfix"></div>
    </div>
</form>


{{footer}}